body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    color: rgb(36, 35, 35);
    font-style: italic;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

a{
    color: #de7504;
    font-weight: 700;
}

nav h1{
    text-transform: uppercase;
    font-size: .85em;
    letter-spacing: .01em;
}

header p{
    color: rgb(235, 51, 10);
    font-size: .75em;
}

nav a,
header p{
    font-size: .75em;
}
