body{
    background-color: black;
    color: white;
    font-size: 20px;
}

header{
    min-height: 100vh;
    text-align: center;
}

header i{
    font-size: 10px;
    color: gray;
}

.digest{
    color: gray;
}

.digest:hover{
    color: gray;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 1000;
    line-height: 1.5em;
}

.center{
    position: absolute;
    top: calc(35% - 3em);
    left: 0;
    text-align: center;
    width: 100%
}

.center p{
    font-size: 25px;
    font-weight: 400;
    line-height: 3em;
}

.container{
    padding: 5% 0;
    max-width: 70%;
    font-family: 'Catamaran', sans-serif;
}

.container p{
    font-weight: 500;
    line-height: 1.5em;
}

.source{
    color: white;
}

.source:hover{
    color: white;
}

h2{
    font-size: 2.5em;
    font-family: 'Hind', sans-serif;
    margin: 15% 0 5% 0;
    position: relative;
    display: inline-block;
}

h2::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
h2:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

h2::before {
    content: " ";
    position: absolute;
    inset: 0;
    background: hsl(147, 100%, 20%);
    z-index: -1;
    transition: transform 1.2s ease;
}


.main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-bottom: 2em;
}

iframe{
    margin-top: 5%;
}

footer{
    text-align: center;
    margin-top: 5%;
    font-size: 15px;
    color: gray;
}

.portfolio{
    color: gray;
}

.portfolio:hover{
    color: #00FA19;
}


@media(max-width: 796px){
    h1{
        font-size: 2em;
    }
    .center{
        top: calc(20%);
    }
}

@media (max-width: 576px){
    .center{
        top: calc(50%);
    }
    body{
        font-size: 1em;
    }
    h1{
        font-size: 1.5em;
    }
    header i{
        font-size: .5em;
    }
}
