body{
    background: #edede9;
}

.intro{
    background: #d6ccc2;
}

.nav-link{
    color: black;
    font-size: 16px;
    padding-top: .5em;
    font-family: 'Orienta', sans-serif;
}

.nav-link:hover{
    color:#432818;
}

main{
    color: black;
    font-size: larger;
    padding-left: 1em;
    padding-right: 1.5em;
    padding-bottom: 2em;
}

h1{
    padding-top: 1em;
    text-align: left;
    font-weight: 600;
    font-size: 60px;
    font-family: 'PT Sans', sans-serif;
}

.about img{
    float: right;
    width: 700px;
}

.about{
    padding-top: 5em;
    font-family: 'Overpass', sans-serif;
}

.top{
    padding-top: .5em;
    font-size: 45px;
    text-align: center;
    line-height: .1em;
    padding-bottom: .5em;
}

h2{
    font-size: 40px;
    font-weight: 400;
}

.left{
    font-size: 35px;
    padding-top: .5em;
    padding-bottom: .5em;
    font-family: 'PT Sans', sans-serif;
}

.resinfo{
    padding-left: 2em;
}

.company{
    font-size: 20px;
    padding-top: 0em;
    padding-left: 1.5em;
    font-family: 'Orienta', sans-serif;
}

.position{
    padding-left: 3em;
    line-height: 0em;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #403d39;
}

.desc{
    padding-left: 6em;
    padding-top: .25em;
    line-height: 1.2em;
    font-size: 15px;
    font-family: 'Trirong', serif;
}
small{
    font-size: small;
    font-style:italic
}
